body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
    color: #c1c1c2;
    background-color: #16171d;
}
.light {
    color: #26272d;
    background-color: #e3e4e6;
}